{%extends 'header.html'%}

{%block content%}



<div class="mycontainer">
  <form method="post" autocomplete="off">
    <div class="form-group">

      <input name="firstname" type="text" class="form-control" id="firstname" placeholder="Имя">
    </div>
    <div class="form-group">

      <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Фамилия">
    </div>
    <div class="form-group">

      <input name="phone" type="text" class="form-control" id="phone" placeholder="Номер телефона">
    </div>


    <button type="submit" class="btn btn-dark">Создать клиента</button>
  </form>

</div>
{%endblock%}
