{%extends 'header.html'%}

{%block content%}

<!--<div class="mycontainer">
  <form method="post">
    <div class="form-group">

      <input name="firstname" type="text" class="form-control" id="firstname" placeholder="Имя">


      <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Фамилия">


      <input name="phone" type="text" class="form-control" id="phone" placeholder="Номер телефона">
    </div>


    <button type="submit" class="btn btn-dark">Создать клиента</button>
  </form>

</div>-->
<div class="mycontainer">
<form method="post">
  <div class="form-group">
  <input class="form-control" type="text" name="firstname" id=firstname value="{{customer.firstname}}" required><br>
  <input class="form-control" type="text" name="lastname" id=lastname value="{{customer.lastname}}" required><br>
  <input class="form-control" type="text" name="phone" id=phone value="{{customer.phone}}" required><br>
  <input class="btn btn-dark" type="submit" value="Обновить пользователя">


  </div>
    </div>

</form>
{%endblock%}
