{%extends 'header.html'%}

{%block content%}
<br>
<h3>По вашему запросу "{{lname}}" были найдены результаты:</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Номер телефона</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for item in list %}

    <tr>
      <td>{{item.id}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.phone}}</td>
      <td> <a href="./customers/{{item.id}}"><img class="detail" src="{{ url_for('static',filename='img/det.png')}}" alt=""></a> </td>
      <td> <a href="./customers/{{item.id}}/edit"><img class="detail" src="{{ url_for('static',filename='img/edit.png')}}" alt=""></a> </td>
      <td> <a href="./customers/{{item.id}}/delete"><img class="detail" src="{{ url_for('static',filename='img/del.png')}}" alt=""></a> </td>

    </tr>

{% endfor %}
</tbody>

</table>

{%endblock%}
